

.services-container {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.services h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center; 
}

.service-box {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
  height: 150px; 
  color: #fff;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#mining {
  background-color: #e85f70;
}

#cryptoland {
  background-color: #fa8936;
}

#blockchain {
  background-color: #4caf50; 
}

#exchange {
  background-color: #0090d5;
}

.service-box:hover {
  transform: translateY(-10px);
  opacity: 0.9;
}

.service-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.service-box p {
  margin: 0;
  font-size: 1.1em;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1a202c;
  border-radius: 50%;
}

.logo {
  width: 100px;
  height: 100px;
}
